html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

nav {
    background-color: beige;
    padding: 10px;
    width:100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    /* width: 100%; */
    height: auto;
    background-color: white;
    margin:0;
    padding:0;
}

#banner img {
    width: 60%;
    height: auto;
    
}

.service {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

td i{
    margin:5px;
    padding:0px;
}

ul{
    list-style: none;
    padding:0;
}

li{
    line-height: 30px;
}

/* #contact-info{
    display:flex;
    flex-direction: column;
} */

#contact-info p{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding:0px;
}

hr{
    margin-bottom: 0;
    padding-top: 0;
}

footer{
    background-color:gold;
    margin:0;
    padding:0;
}

#footer-icon{
    display:inline-block;
    padding:0px;;
    margin:0;
    align-content:center;
}

#footer-icon img{
    width:30px;
    height:30px;

}

h3{
    margin-bottom:5px;
    margin-top: 0;;
    color:black
}